@import "include-media";
@import "animation";
@import "variables";

* {
    margin: 0;
    padding: 0;
}

.App {
    margin: 20px;
    font-family: "Georgia", Times, serif;
    background-color: $bg;
}

.navbar {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $purple;
    display: flex;
    justify-content: space-between;


    &>* {
        font-size: 1.5rem;
        color: $white;
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;

        @include media("<tablet") {
            font-size: 1rem;
            padding: 8px;
        }

        &:hover {
            background-color: $pink;
        }
    }
}

.header {
    display: flex;
    justify-content: center;
    height: 70vh;
    align-items: center;

    @include media("<tablet") {
        flex-direction: column;
        text-align: center;
        font-size: 10px;
        height: 45vh;
    }

    &>* {
        padding: 10px;
    }

    &-image {
        width: 180px;
        animation: moveInBottom .8s;
        border-radius: 50%;

        @include media("<tablet") {
            width: 100px;
            border-radius: 0;
        }
    }

    &-text1 {
        animation: moveInRight 2s;
    }

    &-text2 {
        animation: moveInLeft 2s;
    }
}

.about {
    height: 330px;
    align-items: center;

    &-text {
        text-align: center;
        margin-bottom: 25px;
        padding: 0 30px;

        @include media("<tablet") {
            font-size: 14px;
            margin-bottom: 0;
        }
    }

    &-content {
        display: grid;
        grid-template-columns: 1fr 3fr;
        background-color: $white;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
        clip-path: polygon(0 10vh, 100% 0, 100% 65vh, 0 100%);
        height: 80vh;

        @include media("<tablet") {
            height: 70vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 14px;
            clip-path: none;
        }

        @include media("<=phone") {
            height: 50vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 14px;
            clip-path: none;
        }
    }
}

.skills {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 30px;
    height: 350px;
    align-items: center;

    @include media("<tablet") {
        padding: 0;
        display: flex;
        flex-direction: column;
        font-size: 14px;
    }

    &-flex {
        display: flex;


        &>* {
            margin-right: 30px;
        }
    }
}

.contact {
    text-align: center;
    background-color: $purple;
    color: $white;
    padding: 20px;

    &-text {
        margin-bottom: 30px;
    }

    &>* {
        padding: 0 15px;
    }

}

.header-1 {
    padding-bottom: 15px;

    @include media("<tablet") {
        padding: 0;
        font-size: small;
    }

}

.header-2 {
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;

    @include media("<tablet") {
        font-size: small;
        padding: 0
    }
}

.project {
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 20px 0;

    @include media("<tablet") {
        flex-direction: column;
        font-size: small;
        margin: 0;

    }

    &-image {
        width: 30em;
        margin-right: 15px;
        transition: all 0.3s ease;

        @include media("<tablet") {
            width: 13em;
        }

        &:hover {
            box-shadow: 5px 5px 10px rgb(82, 73, 73);
        }

    }
}

.project-right>p {
    margin-bottom: 12px;

    @include media("<=phone") {
        margin: 0;
    }

}

.button {
    text-decoration: none;
    padding: 8px;
    border: 2px solid $purple;
    background-color: $purple;
    color: $white;
    font-size: large;
    border-radius: 15px;
    margin-right: 5px;

    &:hover {
        box-shadow: 5px 5px 10px rgb(82, 73, 73);
    }

    @include media("<tablet") {
        padding: 2px;
        font-size: medium;
    }
}

.dropdown-menu {
    display: none;
}

.dropdown-content {
    display: none;

    @include media("<tablet") {
        display: block;
    }
}

.visible {
    display: block;
}

.site-content {
    margin-bottom: 10px;

    @include media("<=phone") {
        display: none;
        position: absolute;
    }

}

.site-content-button {
    display: none;

    @include media("<=tablet") {
        display: block;
    }
}

.buttons {
    display: flex;

    &>button {
        justify-content: center;
        text-decoration: none;
        border: none;
        background-color: $bg;
        font-size: medium;
        margin-right: 5px;
    }
}